<div class="container px-5 px-sm-0">
  <%= render 'layouts/error', obj: @book %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: current_user %>
      <%= render 'books/form', book: @book %>
    </div>
    