 <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @book.each do |book| %>
        <tr>
          <td><%= link_to book.title, book_path(book.id), class: "book_#{book.id}" %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>