<%= render 'books/list', book: @book %>


<h2>Book detail</h2>
<tbody>
  <tr>
    <td>
      <%= link_to @book.title, book_path(@book), class: "show_#{@book.id}" %>
    </td>
    <td><%= @book.body %></td>

  </tr>
</tbody>